
#header i{
    padding-left: 40px;
    flex: auto;
}

#header img{
    margin-left: 20px;
}

#search{
    margin-left: 150px;
    width: 500px;
    margin-right: -5px;
}
#header-img{
    width: 120px;
}

#search-button{
    width: 50px;
}

#search-button i{
    padding: 0px;
}
.video-thumbnail{
    width:180px;
    height: 100px;
}
#video-engagements i{
    padding: 15px 15px;
}

#profile-pic{
    width: 23px;
    border-radius: 50%;
    margin: 0px  10px 0px  10px;
}

#subscribe-pic{
    width: 150px;
}

#subscribe{
    float: right;
    padding-left: 43%;
    padding-top: 10px;
}

#channel-pic{
    width: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;

}

#mic{
    margin-right: 100px;
}

.main{
    background-color: #f8f8f8;
    padding-bottom: 100px;
    
}

#video-section{
    margin-left: 70px;
}

.card-small{
    display: flex;
    margin: 5px;
}

.card-small-content p{
    margin-bottom: 0px;
    font-size: 13px;
}

.card-small-content{
    padding-left: 5px;
}

.pager li.active a {
    background-color: #909090;
    border-color: #909090;
    border-radius: 10px;
    color: #fff;
    padding: 5px 150px 5px 150px;
    
}

.pager ul{
    padding: 10px;
    list-style-type:none;
}

.pager{
    float: right;
}

.sidebar-menu{
    padding: 5px 20px 5px 20px;
}

.sidebar-menu li.active a {
    background-color: #000;
    border-color: #000;
    border-radius: 10px;
    color:#fff;
    padding: 5px 20px 5px 20px;
    
}

.sidebar-menu li.inactive a {
    background-color:#e9e9e9;
    border-color: #e9e9e9;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    
}

.sidebar-menu ul{
    padding: 0px;
    list-style-type:none;
    display: flex;
    margin-top: 20px;
}

.card-row-label, .card-row-properties{
    border-style: solid;
    border-color: #909090;
    border-width: thin;
    border-radius: 3px;
    display: flex;
    padding: 5px;
    margin: 10px;
}

.card-row-comments{
    display: flex;
    margin-top: 20px;
}

.card-row-comments img{
    margin-right: 20px;
}

.card-row-comments p{
    margin-bottom: 0px;
    font-size: 13px;
}

.card-row-comments i, small{
    padding: 0px 5px 0px 5px;
}
.card-row-content{
    margin-bottom: 5px;
}

#comments-no{
    border-right: #909090;
    border-right-style: solid;
    border-width: 1px;
    margin-left: 10px;
    padding-right: 5px;
}

#comments-no p{
    margin-bottom: 0px;
}

#comments-no img{
    margin: 0px  10px 0px  10px;
}

.card-row-properties input{
    width: 70%;
    height: 30px;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    border-radius: 3px;
    border-width: 1px;
    margin-top: 7px;
}

.card-row-price p{
    margin-bottom: 0px;
    font-size: 14px;
}

.card-row-price{
    margin: 10px;
}

.card-row-label{
    padding: 0px;
}
